@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #020617;
        --foreground: #f9fafb;
        --primary: #86198f;
        --primary-foreground: #f9fafb;
        --card: #0b1026;
        --muted: #d1d5db;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply text-2xl font-medium;
    }

    h2 {
        @apply text-xl font-medium;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background rounded-md;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-card rounded-md;
    }
}

@layer components {
    .btn {
        @apply flex items-center justify-center w-full p-3 rounded-full bg-gradient-to-r from-primary to-primary/70 text-primary-foreground font-medium text-base;
    }

    .gradient-border {
        padding: 1px;
        background-image: linear-gradient(45deg, transparent, var(--primary) 20%, transparent 100%, transparent);
    }
}
